body.light-theme {
  background-color: #f0f0f0;
  color: #222;
}

body.dark-theme {
  background-color: #121212;
  color: #eee;
}

#language-selector,
#theme-controls {
  margin: 20px;
}

button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s ease;
}

body.light-theme button {
  color: #222;
}

body.dark-theme button {
  color: #eee;
}

#clock, #date {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}





